{% extends "layout.html" %}

{% block title %}
    Add Item
{% endblock %}

{% block main %}
    <form action="/addpassword" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="siteurl" name="siteurl" placeholder="Site URL" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="nickname" name="nickname" placeholder="Nick Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="username" name="username" placeholder="User Name" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="sitepassword" name="sitepassword" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="button" id="cancel">Cancel</button>
    </form>
    <script src="/static/scripts_addpassword.js"></script>

{% endblock %}
