{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/changepassword" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="oldpassword" name="oldpassword" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3 popup">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="New Password" type="password">
                <span class="form-control mx-auto w-auto popuptext" id="myPopup">
                    <div id="letter">1 letter</div>
                    <div id="number">1 number</div>
                    <div id="characters">8 characters</div>
                </span>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirmation" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
        <button class="btn btn-primary" type="button" id="cancel">Cancel</button>
    </form>
    <script src="/static/scripts_addpassword.js"></script>
    <script src="/static/scripts_register.js"></script>


{% endblock %}
